.travelsGrid {
  justify-content: center;
}

.buttonGrid {
  justify-content: center;
}

.messageGrid {
  display: grid;
  justify-content: center;
}

.changeEmoji {
  font-size: 100px;
}

.emojiSize {
  font-size: 10rem;
}
