div#logo {
    margin-left: 1rem;
    margin-top: 1rem;
    background-color: gray;
    width: 19%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}