.activitiesGrid {
  justify-content: center;
  padding-top: 3rem;
}

.buttonGrid {
  justify-content: center;
}

.messageGrid {
  display: grid;
  justify-content: center;
}

.ActivitiesTitle {
  display: grid;
  height: auto;
  padding-top: 1rem;
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  justify-content: center;
}

.ActivitiesDate {
  display: grid;
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-family: 'Lobster', cursive;
  font-size: 1.75rem;
  justify-content: center;
}

.titleButton {
  display: flex;
  justify-content: space-between;
}

.sharedButton {
  padding-right: 2rem;
  padding-top: 1.5rem;
}
.sharedSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.backButton {
  padding-left: 2rem;
  padding-top: 1.5rem;
}

.budgetButton {
  display: grid;
  justify-content: center;
  padding-top: 4rem;
}
