.ActivitiesDateShared {
  display: grid;
  height: auto;
  padding-top: 1.7rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  font-family: 'Lobster', cursive;
  font-size: 1.75rem;
  justify-content: center;
}
